<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    @if (isLoggedInSignal()) {
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/feed']" routerLinkActive="active">Your Feed</a>
      </li>
    }
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link" routerLinkActive="active">
        Global Feed
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/tags', tagName]" class="nav-link" routerLinkActive="active">
        {{ tagName }}
      </a>
    </li>
  </ul>
</div>
