<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/register']">Have an account?</a>
        </p>
        @if (authErrorResponse$ | async) {
          <ngrx-auth-error [errors]="authErrorResponse$ | async"></ngrx-auth-error>
        }

        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="email"
                placeholder="Email"
                type="text"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="password"
                placeholder="Password"
                type="password"
              />
            </fieldset>
            <button
              [disabled]="(isSubmitting$ | async) || !form.valid"
              class="btn btn-lg btn-primary pull-xs-right"
              type="submit"
            >
              Sign in
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
