@if (isLoadingSignal()) {
  <ngrx-loading></ngrx-loading>
}
@if (errorSignal()) {
  <ngrx-error-message message="Error message"></ngrx-error-message>
}

@if (dataSignal | async) {
  @if ((dataSignal | async)?.articles?.length) {
    @for (article of (dataSignal | async)?.articles; track $index) {
      <div class="article-preview">
        <div class="article-meta">
          <a [routerLink]="['/profiles', article.author.username]">
            <img [src]="article.author.image" [alt]="article.author.username" />
          </a>
          <div class="info">
            <a class="author" [routerLink]="['/profiles', article.author.username]">{{
              article.author.username
            }}</a>
            <span class="date">{{ article.createdAt }}</span>
          </div>
          <div class="pull-xs-right">Add to favorite</div>
          <a class="preview-link" [routerLink]="['/articles', article.slug]">
            <h1 class="preview-link__title">{{ article.title }}</h1>
            <p class="preview-link__text">{{ article.description }}</p>
            <span>Read more...</span>
            <ngrx-tag-list [tags]="article.tagList"></ngrx-tag-list>
          </a>
        </div>
      </div>
    }
    <ngrx-pagination
      [total]="(dataSignal | async)!.articlesCount"
      [limit]="limit"
      [currentPage]="currentPage"
      [url]="baseUrl"
    >
    </ngrx-pagination>
  } @else {
    <p class="loading flex"><span>No Data</span></p>
  }
} @else {
  <div class="loading flex">
    <ngrx-loading></ngrx-loading>
  </div>
}
