@if (isLoadingSignal()) {
  <p class="loading flex"><span>Loading...</span></p>
}
@if (errorSignal()) {
  <p>Something went wrong!!!</p>
}

@if (dataSignal()) {
  @for (article of dataSignal()?.articles; track $index) {
    <div class="article-preview">
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" [alt]="article.author.username" />
        </a>
        <div class="info">
          <a class="author" [routerLink]="['/profiles', article.author.username]">{{
            article.author.username
          }}</a>
          <span class="date">{{ article.createdAt }}</span>
        </div>
        <div class="pull-xs-right">Add to favorite</div>
        <a class="preview-link" [routerLink]="['/articles', article.slug]">
          <h1>{{ article.title }}</h1>
          <p>{{ article.description }}</p>
          HERE IS LIST OF TAGS
        </a>
      </div>
    </div>
  }
  PAGINATION
} @else {
  <p class="loading flex"><span>No Data</span></p>
}
